%div(class="container")
	%h1 Welcome

	- if @products.empty?
		%b No products
	- else
		%div.view_content
			%ul
				- @products.each do |i|
					
					%li
						%div.image
							= image_tag i.attachment.small.url
						%div.desc
							%div.name
								= link_to i.name, product_path(i)
								= i.description
								= i.weight
						%div.delete
							= i.price
							грн.
							= link_to "Удалить", product_path(i), method: :delete, data: {confirm: "Вы уверенны?"}

	%br

	= link_to 'Добавить товар', new_product_path, class: "btn btn-primary"